* {
	font-weight: 100;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	letter-spacing: 1.5px;
	text-shadow: 0px 1px 2px black;
}
body {
	margin: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #373B44;
	color: white;
}
.fab {
	background-color: #FE4B74;
	box-shadow: 0px 2px 4px black;
	width: 7.5vh;
	height: 7.5vh;
	border-radius: 7.5vh;
	position: fixed;
	right: 3.75vh;
	bottom: 3.75vh;
	text-align: center;
	display: table;
}
.fab:hover {
	color: white;
	box-shadow: 0px 5px 10px black;
}
.fab span {
	text-shadow: none;
	font-weight: 700;
	display: table-cell;
	vertical-align: middle;
	font-size: 3.5vh;
}
section {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #373B44;
	height: 100vh;
	min-height: 100vh;
}
section:nth-of-type(2n) {
	background-color: #2c2d36;
}
.content {
	display: table-cell;
	vertical-align: middle;
	padding: 15% 0%;
}
#home {
	height: 92.5vh;
	min-height: 92.5vh;
}
.center {
	text-align: center;
	width: 100%;
}
h1 {
	font-size: 5.2em;
	text-shadow: 0px 2px 4px black;
	margin: 0px 4px;
}
.gray {
	color: #bbb;
}
.blue {
	color: #4096ee;
}
h2 {
	font-size: 1.8em;
	margin-bottom: 10px;
	margin-top: 15px;
}
h3 {
	font-size: 1.25em;
	margin: 5px 0px;
}
h4 {
	font-size: 1em;
	margin: 10px 0px;
}
a {
	color: #ddf;
	text-decoration: none;
	transition: all 0.75s ease-in;
	-o-transition: all 0.75s ease-in;
	-moz-transition: all 0.75s ease-in;
	-webkit-transition: all 0.75s ease-in;
}
a:hover {
	color: #4096ee;
	cursor: default;
	transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
}
.social ul {
	margin: 20px 0px;
}
.social ul li {
	min-width; 40px;
	padding: 0px 10px;
	font-size: 1.45em;
	display: inline;
}
.social .big ul li {
	font-size: 1.5em;
}
#projects, #lsp {
	padding: 0px 15%;
}
#projects ul, #lsp ul {
	list-style-type: none;
	margin: 16px 8px;
}
#projects h3 {
	font-variant: small-caps;
}
p {
	text-align: justify;
	width: 85%;
	margin: auto;
	font-size: 1.1em;
	padding: 15px 0px;
}
div.thirds-holder {
	display: flex;
	flex-direction: row;
}
div.thirds-holder div {
	display: block;
	flex-grow: 1;
	padding: 32px;
}

